<header>
    <div class="header-links">
        <a href="/">About us</a>
        <a href="/tobacco">Tobacco</a>
        <a href="/news">News</a>
    </div>
    <div class="header-icons">
        <a href="{{ gm_url }}" target="_blank">
            <img src="/static/images/icons/google_maps.png">
        </a>
        <a href="{{ inst_url }}" target="_blank">
            <img src="/static/images/icons/instagram.png">
        </a>
        <a href="{{ tg_url }}" target="_blank">
            <img src="/static/images/icons/telegram.png">
        </a>
    </div>
</header>