{% extends 'base.html' %}

{% block content %}
<div class="container">
    <main class="content">
        <h2>News</h2>
        <h3>Some Header</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit consequat facilisi, inceptos tristique fusce molestie dictum augue tempor. At magnis hac nam quam elementum senectus auctor placerat pharetra, ultricies cum lacinia diam magna vitae habitasse parturient, nunc justo cras consequat natoque in et etiam. Litora facilisis interdum ultricies varius euismod quam, parturient hendrerit dictum ultrices feugiat.</li>
        </ul>
        <h3>Other Header</h3>
        <ul>
            <li>Sodales turpis non risus vehicula eget feugiat maecenas aptent nec, venenatis curae sollicitudin ac libero fusce in lobortis, cras fames euismod pulvinar at lacus primis congue. Fames tempus iaculis enim cum inceptos a dignissim dictum, pharetra commodo neque semper felis volutpat orci vivamus, lectus torquent dis aptent nostra placerat scelerisque. Velit felis nulla facilisis maecenas nec aenean ante turpis, placerat ad augue ultrices eros ullamcorper quam, pellentesque imperdiet rhoncus dui convallis hendrerit himenaeos.</li>
        </ul>
    </main>
</div>
{% endblock %}
